/* ImageViewer.css */
.ImageViewer {
  text-align: center;
  margin-bottom: 20px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

.nav-button:first-child {
  left: 10px;
}

.nav-button:last-child {
  right: 10px;
}

.ImageViewer img {
  max-width: 100%;
  max-height: 300px;
}
